html,
body {
	margin: 0px;
	font-family: Helvetica;
	font-weight: lighter;
	background-color: #eeeeee;
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
}

header {
	padding: 10px;
	height: 40px;
	background-color: #457abb;
	margin: 0px;
	color: white;
}

h1 {
	font-size: 14px;
	display: inline;
}

nav {
	float: right;
}

nav>a {
	padding: 15px;
	font-size: 14px;
	color: white;
}

main {
	height: calc(100% - 65px);
	width: 100%;
	position: relative;
}

main section {
	float: left;
	width: 55%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

main aside {
	float: right;
	width: 45%;
	height: 100%;
	padding-left:5px;
	padding-right:10px;
	overflow-y: scroll;
	font-size: 12px;
	background-color: #f3f3f3;
}

footer {
	clear: both;
	padding-top: 2px;
	text-align: center;
	background-color: #457abb;
	color: white;
	height: 25px;
	font-size: 10pt;
	position:fixed;
	width:100%;
	z-index:1;
}

h4,
label {
	margin-bottom: 2px;
	margin-top: 2px;
	font-size: 12px;
	font-weight: lighter;
	text-transform:uppercase;
}

#code {
	flex:1;
	width:100%;
	height:24px;
	font-family: 'Courier';
	font-size: 12px;
}
.copy{
	font-size:9px;
	margin-left:5px;
}

.input{
	width:100%;
	height:24px;
	display:flex;
}

.output{
	border-color: grey;
	padding: 5px;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	display: block;
	height: 24px;
	resize: none;
	font-family: Courier;
	font-size: 12px;
	overflow:hidden;
}

#history {
	overflow-y: scroll;
	min-height:100px;
	height: calc(100% - 150px);
}

#history p {
	margin-top: 0px;
	margin-bottom: 1px;
}

details {
	padding: 5px;
	background-color: #f9f9f9;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 5px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	border-radius: 2px;
}
footer>a:link,footer>a:visited {
	color:white;
}
ul {
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}